<!--<p>footer-section works!</p>-->
<a class="nav-link text-dark" [routerLink]="['/about']">About</a>&nbsp;&nbsp;
<a class="nav-link text-dark" [routerLink]="['/cookies']">Cookies</a>&nbsp;&nbsp;
<a class="nav-link text-dark" [routerLink]="['/help-center']">Help Center</a>&nbsp;&nbsp;
<a class="nav-link text-dark" [routerLink]="['/privacy']">Privacy</a>&nbsp;&nbsp;
<a class="nav-link text-dark" [routerLink]="['/policy']">Policy</a>&nbsp;&nbsp;
<a class="nav-link text-dark" [routerLink]="['/ad-choices']">Ad Choices &amp; Info</a>&nbsp;&nbsp;
<a class="nav-link text-dark" [routerLink]="['/advertising']">Advertising</a>&nbsp;&nbsp;
<a class="nav-link text-dark" [routerLink]="['/business-services']">Business Services</a>&nbsp;&nbsp;
<a class="nav-link text-dark" [routerLink]="['/get-app']">Get the TwitterLike App</a>&nbsp;&nbsp;
<a class="nav-link text-dark" [routerLink]="['/more']">More &and;</a>&nbsp;&nbsp;
