  <a class="text-dark" style="text-decoration:underline;" [routerLink]="['/about']">About</a>&nbsp;&nbsp;
  <a class="text-dark" style="text-decoration:underline;" [routerLink]="['/cookies']">Cookies</a>&nbsp;&nbsp;
  <a class="text-dark" style="text-decoration:underline;" [routerLink]="['/help-center']">Help Center</a>&nbsp;&nbsp;
  <a class="text-dark" style="text-decoration:underline;" [routerLink]="['/privacy']">Privacy</a>&nbsp;&nbsp;
  <a class="text-dark" style="text-decoration:underline;" [routerLink]="['/policy']">Policy</a>&nbsp;&nbsp;
  <a class="text-dark" style="text-decoration:underline;" [routerLink]="['/ad-choices']">Ad Choices &amp; Info</a>&nbsp;&nbsp;
  <a class="text-dark" style="text-decoration:underline;" [routerLink]="['/advertising']">Advertising</a>&nbsp;&nbsp;
  <a class="text-dark" style="text-decoration:underline;" [routerLink]="['/business-services']">Business Services</a>&nbsp;&nbsp;
  <a class="text-dark" style="text-decoration:underline;" [routerLink]="['/get-app']">Get the DammyWrot App</a>&nbsp;&nbsp;
  <a class="text-dark" style="text-decoration:underline;" [routerLink]="['/more']">More &and;</a>&nbsp;&nbsp;
